<div class="col-xs-4">
	{{ message.votes }} Points
</div>
<div class="col-xs-8">
	<ul class="col-xs-4">
		<li class="item">
			<a href (click)="voteUp()">
				<i class="arrow up icon"></i> upvote
			</a>
		</li>
		<li class="item">
			<a href (click)="voteDown()">
				<i class="arrow down icon"></i> downvote
			</a>
		</li>
	</ul>
	<div class="col-xs-8">
		<a class="col-xs-12" href="{{ message.link }}">
        {{ message.title }}
      </a>
		<div class="col-xs-12">({{ message.link }})</div>
	</div>
</div>